<% content_for :title do %>Test<% end %>

<div class="gridster">
  <ul>

    <li data-row="1" data-col="1" data-sizex="4" data-sizey="2";>
      <div data-id="temperature_weekly"
      data-view="Rickshawgraph"
      data-renderer="line"
      data-title="Temperature trends"
      data-color-scheme="rainbow"
      data-legend="true"
      data-unstack="true"
      data-default-alpha=0.5
      style="background-color:#ccc;">
      </div>
    </li>

  </ul>
</div>
